.red {
    color: red;
}

.green {
    color: #33cc33;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
 }

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 500px;
    text-align: center;
    padding: 40px 20px;
    margin-left: 20px;
}

.drop-box.dragover {
    border: 5px dashed #337AB7;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}
