<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>SSL Tools</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-sanitize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/style.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="public/js/ng-file-upload.min.js"></script>
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
<script src="public/js/ngclipboard.min.js"></script>
<script src="public/js/angular-file-saver.bundle.min.js"></script>
</head>
<body>
<h2>TEST</h2>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:200px;">
<ul class="nav navbar-nav">
 <li id="nav_ssl"  class="active"><a href="/ssl">SSL</a></li>
</ul>
<!--<div align="right" style="padding-right:200px;"><img src="public/logo.png"></div>-->
</nav>

<br />

<div class="container">

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#certinfo">Cert info</a></li>
  <li><a data-toggle="tab" href="#chainresolver">Chain Resolver</a></li>
  <li><a data-toggle="tab" href="#keymatcher">Key Matcher</a></li>
  <li><a data-toggle="tab" href="#certchecker">Cert Checker</a></li>
  <li><a data-toggle="tab" href="#pfxtools">PFX Tools</a></li>
</ul>

<br />

<div class="tab-content" ng-app="sslApp">
  <div id="certinfo" class="tab-pane fade in active" ng-controller="ciCtrl">
 

<!-- PFX password prompt Modal -->
<div id="pfxpwdmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Decrypting<span id="pfxname"></span></h4>
      </div>
      <div class="modal-body">
	<p>Please enter decrypt password:</p>
	 <form class="form-horizontal" autocomplete="off">
	  <div class="form-group">
  	   <div class="col-md-12">
	    <input class="form-control" id="pfxpassword" ng-model="pfxpassword" type="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" autofocus ng-keyup="$event.keyCode == 13 && ci_pfxcheck(pfxpassword)"></input>
	
	    <br />

	    <div class="progress" id="ci_modalprogress">
	     <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">Loading...</div>
 	    </div>

	    <br />

	    <div class="alert alert-danger alert-dismissable" id="pfxdecodeerror">
 	     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	     <strong>Error</strong> - Please check the password and try again.
	    </div>

	   </div>
          </div>
         </form>

      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="ci_pfxcheck(pfxpassword)">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



 
<div class="container">

<div class="row-fluid">
<div class="span6">

 <div class="col-md-6">
 <h4>Certificate:</h4>
 <div class="drop-zone" ci-File-Drop-Zone="ci_certinput" content="ci_certinput">
 <textarea class="form-control" placeholder="Drag & drop or paste a PEM encoded certificate or CSR" rows="32" id="ci_cert" ng-model="ci_certinput" ng-change="ci_check(ci_certinput)" style="font-family:monospace; font-size:8pt; min-width:450px;"></textarea>
 </div>
 <br>
 </div>

 <div class="col-md-6">
 <h4><span ng-bind="ci_type"></span>Info:</h4>
 
 <!---->
 <div class="well well-sm" style="min-height:495px;" ng-bind-html="ci_result"></div>
 <!---->

 </div>


</div>
</div>
</div>

 </div>
  
 <div id="chainresolver" class="tab-pane fade" ng-controller="ccrCtrl">

<div class="container">

<div class="row-fluid">
<div class="span6">

 <div class="col-md-6">
 <h4>Certificate:</h4>
 <div class="drop-zone" ccr-File-Drop-Zone="ccr_certinput" content="ccr_certinput">
 <textarea rows="32" class="form-control" placeholder="Drag & drop or paste a PEM encoded certificate" id="ccr_cert" ng-model="ccr_certinput" ng-change="ccr_check(ccr_certinput)" style="font-family:monospace; font-size:8pt; min-width:450px;"></textarea>
 </div>
 </div>

 <div class="col-md-6">
 <h4>Output:</h4>
 <div class="well well-sm" style="min-height:42px;"><pre id="ccr_infobox" ng-bind="ccr_resultbox1" style="border:0px;"></pre></div>
 <div class="well well-sm" style="min-width:450px; min-height:420px;"><pre id="ccr_resultbox" ng-bind="ccr_resultbox2" style="font-size:8pt; border:0px;"></pre></div>
 </div>

</div>
</div>
</div>

 </div>
 
 <div id="keymatcher" class="tab-pane fade" ng-controller="ckmCtrl">


<!-- Modal -->
<div id="modhashmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modulus Hashes</h4>
      </div>
      <div class="modal-body">
        <p>The best way to see if a CSR or certificate matches an RSA key is using the modulus - a 500+ character string. To simplify things somewhat, the MD5 hash of this string is used.</p>
        <p>OpenSSL does both of these things, and in turn so does SSL Shopper (and most other online SSL services). These services usually just run an openssl command in the background, grabbing th
e modulus and giving you the hash of it, as seen on pages like <a href="https://www.sslshopper.com/certificate-key-matcher.html">this</a>. </p>
        <p>If you were to get just the modulus using OpenSSL, you will notice that it prepends the output with the string "Modulus=":</p>
        <pre>$ openssl x509 -noout -modulus -in cert.crt
Modulus=B8B56B5BC67E34E6C78F6C8CEE00E5A66FD79F0A31A054EEC7AC8... etc.</pre>
        <p>Using this output as-is means you're getting the MD5 hash of the whole shebang, including "Modulus=".</p>
        <p>Piping this string directly back into "openssl md5" presents another problem - it includes a newline character, which again completely changes the MD5 hash.</p>
        <p>This key matcher tool will give you the MD5 hash of the pure x509 modulus excluding the leading string and trailing newline, which won't match the one you'll get from OpenSSL. Either way
, the important thing is just that whatever string you're seeing here, they should just match each other :)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- get key error Modal -->
<div id="ckm_getkeyerrmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Get Key Error</h4>
      </div>
      <div class="modal-body">
        <p>An error occurred getting this certificate's key.</p>
        <p><span id="ckm_getkeyerror"></span></p>

      </div><!--modal-body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div><!--modal-footer-->
    </div><!--modal-content-->

  </div><!--modal-dialog-->
</div><!--modal-->


<div class="container">
<div class="row-fluid">
<div class="span6">

 <div class="col-md-6">
 <h4>Certificate / CSR:</h4>

 <div class="drop-zone" ckmc-File-Drop-Zone="ckm_certinput" content="ckm_certinput">
 <textarea rows="32" class="form-control" placeholder="Drag & drop or paste a PEM encoded certificate or CSR" id="ckm_cert" ng-model="ckm_certinput" ng-change="ckm_checkcert(ckm_certinput)" style="font-family:monospace; font-size:8pt; min-width:450px;"></textarea>
 </div>
<br />
 <div class="well well-sm" style="min-height:42px;"><b>Modulus Hash:</b> <span ng-bind="ckm_certmodhash"></span>
 <span class="pull-right" data-toggle="tooltip" title="Modulus Hash not matching the one you get from OpenSSL? Click Here."><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modhashmodal"><span class="glyphicon glyphicon-info-sign"></span></button></span>
</div>
 </div>

 <div class="col-md-6">
 <h4>Private Key:
 <button class="btn btn-primary btn-xs pull-right" ng-model="ckm_btnconvertkey" ng-disabled="btnconvertkeydisabled" ng-click="ckm_convertkey()">Convert to RSA Key</button>
 </h4>
 
 <div class="drop-zone" ckmk-File-Drop-Zone="ckm_certinput" content="ckm_keyinput">
 <textarea rows="32" class="form-control" placeholder="Drag & drop or paste a PEM encoded RSA private key" id="ckm_key" ng-model="ckm_keyinput" ng-change="ckm_checkkey(ckm_keyinput)" style="font-family:monospace; font-size:8pt; min-width:450px;"></textarea>
 </div>

 <br />
 
 <div class="well well-sm" style="min-height:42px;"><b>Modulus Hash:</b> <span ng-bind="ckm_keymodhash"></span></div>
 </div>

 <div class="span6 vertical-center">

 <div class="col-md-6">
 <div class="well well-sm" style="min-height:42px;"><span ng-bind-html="ckm_resultboxcn"></span>
</div>
 </div>

 <div class="col-md-6">
 <div class="well well-sm" style="min-height:42px;"><span ng-bind-html="ckm_resultbox"></span></div>
 </div>

</div>
</div>
</div>

</diV>
</div>

 <div id="certchecker" class="tab-pane fade" ng-controller="cckCtrl">

<div class="container">
<div class="row-fluid">
<div class="span6">

 <h4>Remote URL:</h4>

<div class="input-group" style="max-width:650px;">
 <input type="text" class="form-control" ng-model="cck_servername" ng-keyup="$event.keyCode == 13 && cck_check()"></input>
 <span class="input-group-btn"><button class="btn btn-primary" ng-click="cck_check()">Check Certificate</button></span>
</div>

 <br /> 

<h4>Output:</h4>
 <div class="well well-sm" style="max-width:750px;"><pre style="font-size:8pt; border:0px;" ng-bind="cck_resultbox"></pre></div>

</div>
</div>
</div>


</div> <!--tab-pane-->



<div id="pfxtools" class="tab-pane fade in" ng-controller="cpCtrl">


<!-- PFX password prompt Modal -->
<div id="cp_pfxpwdmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Decrypting<span id="cp_pfxname"></span></h4>
      </div>
      <div class="modal-body">
        <p>Please enter decrypt password:</p>
         <form class="form-horizontal" autocomplete="off">
          <div class="form-group">
           <div class="col-md-12">
            <input class="form-control" id="cp_pfxpassword" ng-model="cp_pfxpassword" type="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" autofocus ng-keyup="$event.keyCode == 13 && cp_pfxupload(cp_pfxpassword)"></input>

            <br />

  	    <div class="progress" id="cp_pfxmodalprogress">
             <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">Loading...</div>
            </div>

            <br />

            <div class="alert alert-danger alert-dismissable" id="cp_pfxdecodeerror">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong>Error</strong> - Please check the password and try again.
            </div><!--alert-->

           </div><!--col-md-12-->
          </div><!--form-group-->
         </form>

      </div><!--modal-body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cp_pfxupload(cp_pfxpassword)">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div><!--modal-footer-->
    </div><!--modal-content-->

  </div><!--modal-dialog-->
</div><!--modal-->



<!-- PFX convert password prompt Modal -->
<div id="cp_pfxconvertpwdmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Creating PFX</h4>
      </div>
      <div class="modal-body">
        <p>Please enter encrypt password:</p>
         <form class="form-horizontal" autocomplete="off">
          <div class="form-group">
           <div class="col-md-12">
            <input class="form-control" id="cp_pfxconvertpassword" ng-model="cp_pfxconvertpassword" type="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" autofocus ng-keyup="$event.keyCode == 13 && cp_converttopfx(cp_pfxconvertpassword)"></input>

            <br />

	    <div class="progress" id="cp_pfxconvertmodalprogress">
             <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">Loading...</div>
            </div>

            <br />

	    <div class="alert alert-danger alert-dismissable" id="cp_pfxconverterror">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong>Error</strong> - There was an error creating the PFX file. Please check the three input fields and try again.
            </div><!--alert-->

           </div><!--col-md-12-->
          </div><!--form-group-->
         </form>

      </div><!--modal-body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cp_converttopfx(cp_pfxconvertpassword)">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div><!--modal-footer-->
    </div><!--modal-content-->

  </div><!--modal-dialog-->
</div><!--modal-->


<!-- get key error Modal -->
<div id="cp_getkeyerrmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Get Key Error</h4>
      </div>
      <div class="modal-body">
        <p>An error occurred getting this certificate's key.</p>
        <p><span id="cp_getkeyerror"></span></p>
		
      </div><!--modal-body-->
      <div class="modal-footer">        
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div><!--modal-footer-->
    </div><!--modal-content-->

  </div><!--modal-dialog-->
</div><!--modal-->

<div class="container">

<div class="row-fluid">
<div class="span6">


 <div class="col-md-6">

 <h4>Decrypt a PFX:</h4>

 <br />

 <div ngf-drop="cp_pfxmodal($files)" ng-model="cp_fileselector" class="drop-box" ngf-drop-available="true" ngf-select="cp_pfxmodal($files)">
  <span>Select or Drop PFX or P7B File</span>
 </div>

 <br />

 <div class="well well-sm" style="min-height:420px;" ng-bind-html="cp_result"></div>

 </div><!--col-md-6-->





 <div class="col-md-6">

 <form name="cp_form" novalidate="novalidate">

 <h4>Private Key: <div class="pull-right"><button class="btn btn-primary btn-xs" ng-disabled="!(cp_key.length >= 1)" ng-click="cp_download(cp_key,'certificate.key')"><span class="glyphicon glyphicon-save"></span> Download</button></div></h4>
 <div class="drop-zone" cpkey-File-Drop-Zone="cp_key" content="cp_key">
  <textarea rows="10" class="form-control" placeholder="Drag & drop or paste a private key" id="cp_key" ng-model="cp_key" required="" style="font-family:monospace; font-size:8pt; min-width:450px;"></textarea>
 </div>

 <h4>Certificate: <div class="pull-right"><button class="btn btn-primary btn-xs" ng-disabled="!(cp_cert.length >= 1)" ng-click="cp_download(cp_cert,'certificate.crt')"><span class="glyphicon glyphicon-save"></span> Download</button></div></h4>
 <div class="drop-zone" cpcert-File-Drop-Zone="cp_cert" content="cp_cert">
  <textarea rows="10" class="form-control" placeholder="Drag & drop or paste a PEM encoded certificate" id="cp_cert" ng-model="cp_cert" required="" style="font-family:monospace; font-size:8pt; min-width:450px;"></textarea>
 </div>

 <h4>Certificate Chain: <div class="pull-right"><button class="btn btn-primary btn-xs" ng-disabled="!(cp_cert.length >= 1)" ng-click="cp_getchain(cp_cert)"><span ng-class="cp_getchainicon" class="glyphicon glyphicon-link"></span> Get Chain</button>&nbsp;<button class="btn btn-primary btn-xs" ng-disabled="!(cp_chain.length >= 1)" ng-click="cp_download(cp_chain,'certificate.ca')"><span class="glyphicon glyphicon-save"></span> Download</button></div></h4>
 <div class="drop-zone" cpcert-File-Drop-Zone="cp_chain" content="cp_chain">
  <textarea rows="10" class="form-control" placeholder="Drag & drop or paste a list of chain certificates" id="cp_chain" ng-model="cp_chain" required="" style="font-family:monospace; font-size:8pt; min-width:450px;"></textarea>
 </div>

 <br />
 
 <div class="col-md-12 text-center">

 <button type="button" class="btn btn-primary" ng-disabled="cp_form.$invalid" ng-click="cp_convertpfxmodal()">Convert to PFX</button> 

 </div>

 </form>

 </div><!--col-md-6-->

</div><!--span6-->
</div><!--row-fluid-->
</div><!--container-->


</div> <!--tab-pane-->


</div> <!--tab-content-->

</div><!--container-->

<script type="text/javascript" src="public/js/scripts.js"></script>
<script type="text/javascript" src="public/controllers/controller.js"></script>


</body>
</html>
